In [76]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.loc[0, 'director']
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

# Предобработка

In [2]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']  # добавляем в датафоейм столбец - прибыль 

#Функция принимает на вход название столбца и возвращиает список уникальных значений в этом столбце
def value_parser(column):
    result_list = [] 
    for i in data[column]:
        for value in i.split('|'):
            if value not in result_list:
                result_list.append(value)
            else:continue
    return(result_list)


# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [3]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723.Pirates of the Caribbean: On Stranger Tides(tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
data.loc[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [5]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals 214'

In [7]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '63 Winnie the Pooh'

In [9]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '109.6585494970884'

In [11]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'

In [13]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [15]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [17]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
len(data[(data['revenue'] - data['budget'])>0])

1478

In [19]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
#Решеине с использование отдельного датафрейма
films_2008 = data[data['release_year'] == 2008]
films_2008[films_2008['revenue'] == films_2008['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [21]:
#решение через сортировку значений
data[data['release_year'] == 2008].sort_values('revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [22]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
films = data[(data['release_year'] > 2012) & (data['release_year'] < 2014)]
films[films['profit'] == films['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [24]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [25]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [26]:
genre_counter = {} #словарь для записи счетчиков жанров
genre_list = value_parser('genres')
for genre in genre_list:
    genre_counter[genre] = 0
for i in range (len(data)):
    for genre in genre_list:
        if genre in (data.loc[i, 'genres'].split('|')):
            genre_counter[genre] +=1
series_genre = pd.Series(genre_counter).sort_values(ascending=False)
series_genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [27]:
answers['11'] = 'Drama, 782'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
genre_counter = {} #словарь для записи счетчиков жанров
genre_list = value_parser('genres')
for genre in genre_list:
    genre_counter[genre] = 0 # Заполняем словарь, использщуя в качестве ключей жанр, и заполняем значения нулями
for i in range (len(data)):
    for genre in genre_list:
        if (genre in (data.loc[i, 'genres'].split('|'))) and (data.loc[i, 'profit'] > 0):
            genre_counter[genre] +=1
series_genre = pd.Series(genre_counter).sort_values(ascending=False)
series_genre

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Foreign              0
dtype: int64

In [29]:
answers['12'] = 'Drama, 560'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
#Первый варинат решения. Используя дополнительные структуры дланных и возможности python
directors_list = value_parser('director')
director_profit = {} # словарь для записи сборов всех фильмов режисера
for director in directors_list:
    director_profit[director] = 0
 

for i in range (len(data)):
    for director in directors_list:
        if data.loc[i, 'director'] == director:
            director_profit[director] += data.loc[i, 'profit']
        else:continue          
director_profit = pd.Series(director_profit).sort_values(ascending=False)           
            
director_profit

Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Simon Wells           -67278066
Joby Harold           -71626175
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Length: 997, dtype: int64

In [31]:
#Второй вариант решения. Используя только функционал pandas
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson               5202593685
David Yates                 3379295625
Christopher Nolan           3162548502
J.J. Abrams                 2839169916
Michael Bay                 2760938960
                               ...
Walter Hill|Jack Sholder     -75171919
David Bowers|Sam Fell        -84540684
Peter Hyams                  -86956545
Ron Underwood                -92896027
James L. Brooks              -96289726
Name: profit, Length: 957, dtype: int64

In [32]:
#Третий вариант с использование дополнительноГо датафрейма
profit_films = data[data['profit'] > 0]
profit_films.groupby(['director']).sum().sort_values(by='profit', ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
...,...,...,...,...,...,...
John Bonito,20000000,22165608,92,5.0,2006,2165608
Joe Nussbaum,8000000,10130000,104,5.8,2011,2130000
Bill Paxton,11000000,13110448,100,6.8,2001,2110448
Sarah Gavron,14000000,16002420,106,7.1,2015,2002420
Christian Alvart,27000000,29000000,109,6.0,2009,2000000

In [33]:
answers['13'] = 'Peter Jackson, 5202593685'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:

df_action_films = data[data.genres.str.contains('Action')]
df_action_films['director'].value_counts()

Paul W.S. Anderson                          7
Michael Bay                                 7
Robert Rodriguez                            6
Antoine Fuqua                               6
Ridley Scott                                6
                                           ..
Tony Gilroy                                 1
John Bonito                                 1
Jay Roach                                   1
Tony Bill                                   1
Bibo Bergeron|Vicky Jenson|Rob Letterman    1
Name: director, Length: 345, dtype: int64

In [35]:
answers['14'] = 'Michael Bay, 7'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
films_2012 = data.loc[data['release_year'] == 2012] # Выносим в отдельный датафрейм фильмы 2012 года
actors = value_parser('cast') #Парсим имена актеров
actor_profit = {} #Создаем словарь для записи результатов
films_2012 = films_2012.reset_index()
actor_profit = {} 
actors_list = value_parser('cast')

for actor in actors_list:
    actor_profit[actor] = 0
    for i in range (len(films_2012)):
        if actor in films_2012.loc[i, 'cast'].split("|"):
            actor_profit[actor] += films_2012.loc[i, 'profit']
            
actor_profit = pd.Series(actor_profit).sort_values(ascending=False)
actor_profit

Chris Hemsworth       1542450773
Denis Leary           1319460639
Scarlett Johansson    1299557910
Chris Evans           1299557910
Robert Downey Jr.     1299557910
                         ...
Malin Ã…kerman         -43733509
James Kidnie           -51893525
Heidi Hawkins          -51893525
Timothy Spall          -51893525
Kirsten Dunst          -68109207
Length: 3406, dtype: int64

In [37]:
answers['15'] = 'Chris Hemsworth, 1542450773'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
actors_list = value_parser('cast')
actor_middle_budget_counter = {}
for actor in actors_list:
    actor_middle_budget_counter[actor] = 0
for i in range (len(data)):
    for actor in actor_middle_budget_counter:
        if actor in data.loc[i, 'cast'].split("|") and data.loc[i, 'budget'] > data['budget'].mean():
            actor_middle_budget_counter[actor]+=1

actor_middle_budget_counter = pd.Series(actor_middle_budget_counter).sort_values(ascending=False)
actor_middle_budget_counter

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Eric Mabius           0
Rae Dawn Chong        0
Sean Kingston         0
Usher Raymond         0
Gregory Smith         0
Length: 3406, dtype: int64

In [39]:
answers['16'] = 'Matt Damon, 18'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
genre_list = value_parser('genres')
genre_counter = {}
for genre in genre_list:
    genre_counter[genre] = 0
    for i in range(len(data)):
        if 'Nicolas Cage' in data.loc[i, 'cast'].split("|"):
            if genre in data.loc[i, 'genres'].split("|"):
                genre_counter[genre]+=1
                


genre_counter

{'Action': 17,
 'Adventure': 7,
 'Science Fiction': 4,
 'Thriller': 15,
 'Fantasy': 8,
 'Crime': 10,
 'Western': 0,
 'Drama': 12,
 'Family': 3,
 'Animation': 3,
 'Comedy': 6,
 'Mystery': 3,
 'Romance': 1,
 'War': 1,
 'History': 2,
 'Music': 0,
 'Horror': 1,
 'Documentary': 0,
 'Foreign': 0}

In [41]:
answers['17'] = 'Action: 17'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
paramount_films = data[data.production_companies.str.contains('Paramount Pictures')]
paramount_films[paramount_films['profit'] == paramount_films['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [43]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
data.groupby('release_year').agg(sum)['revenue'].sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [45]:
answers['19'] = '2015    25449202382'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
warner_films = data[data.production_companies.str.contains('Warner Bros')]
warner_films.groupby('release_year').agg(sum)['profit'].sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [47]:
answers['20'] = '2014    2295464519'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['realese_month'] = data['release_date'].dt.month
data.groupby('realese_month').agg('count').imdb_id.sort_values(ascending=False)

realese_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [49]:
answers['21'] = '9     227'


22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август

In [50]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['realese_month'] = data['release_date'].dt.month
data.groupby('realese_month').agg('count').imdb_id.sort_index()[5:8].sum()

450

In [51]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
data['winter'] = data['realese_month'].apply(lambda x: 1 if x == 12 or x == 1 or x == 2 else 0)
winter_films = data[data.winter == 1]
winter_films.groupby('director').agg('count').imdb_id.sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: imdb_id, Length: 332, dtype: int64

In [53]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
data['len_name'] = data['original_title'].apply(lambda x: len(x))
result = []

for i in range(len(data)):
    companies = data.loc[i, 'production_companies'].split('|')
    
    for company in companies:
        interim_list =[]
        len_name = len(data.loc[i, 'original_title'])
        interim_list.append(company)
        interim_list.append(len_name)
        result.append(interim_list)
pd.DataFrame(result, columns=['company', 'len_name']).groupby('company').agg('mean').sort_values(by='len_name', ascending=False)

                            len_name
company
Four By Two Productions         83.0
Jim Henson Company, The         59.0
Dos Corazones                   47.0
Polsky Films                    46.0
Museum Canada Productions       46.0
...                              ...
Everest Entertainment            3.0
Berlanti Productions             3.0
Global Entertainment Group       2.0
XM2 Productions                  2.0
Ixtlan Productions               2.0

[1771 rows x 1 columns]

In [ ]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [78]:
data['len_overview'] = data['overview'].apply(lambda x: len(x))

In [83]:
result = []

for i in range(len(data)):
    companies = data.loc[i, 'production_companies'].split('|')
    
    for company in companies:
        interim_list =[]
        len_name = len(data.loc[i, 'overview'])
        interim_list.append(company)
        interim_list.append(len_name)
        result.append(interim_list)


pd.DataFrame(result, columns=['company', 'len_overview']).groupby('company').agg('mean').sort_values(by='len_overview', ascending=False)

                                       len_overview
company
Midnight Picture Show                        1000.0
Room 9 Entertainment                          964.0
Brookwell-McNamara Entertainment              936.0
Lions Gate Family Entertainment               909.0
Crest Animation Productions                   909.0
...                                             ...
London Boulevard                               74.0
Henceforth                                     74.0
Phantom Four                                   72.0
Empire Pictures                                62.0
Motion Picture Corporation of America          59.0

[1771 rows x 1 columns]

In [ ]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
best_films = data[data.vote_average >= data.vote_average.quantile(0.99)].original_title.unique()
best_films.sort()
best_films

array(['12 Years a Slave', '3 Idiots', 'Big Hero 6', 'Dallas Buyers Club',
       'Eternal Sunshine of the Spotless Mind', 'Gone Girl',
       'Guardians of the Galaxy', 'Her', 'Inception', 'Inside Out',
       'Interstellar', 'Memento', 'Mr. Nobody', 'Prisoners', 'Room',
       'Spotlight', 'The Dark Knight', 'The Fault in Our Stars',
       'The Grand Budapest Hotel', 'The Imitation Game',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Lord of the Rings: The Return of the King',
       'The Lord of the Rings: The Two Towers', 'The Pianist',
       'The Prestige', 'The Theory of Everything',
       'The Wolf of Wall Street', 'There Will Be Blood'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723.Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': 'Gods and Generals 214',
 '3': '63 Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama, 782',
 '12': 'Drama, 560',
 '13': 'Peter Jackson, 5202593685',
 '14': 'Michael Bay, 7',
 '15': 'Chris Hemsworth, 1542450773',
 '16': 'Matt Damon, 18',
 '17': 'Action: 17',
 '18': 'K-19: The Widowmaker',
 '19': '2015    25449202382',
 '20': '2014    2295464519',
 '21': '9     227',
 '22': '450',
 '23': 'Peter Jackson'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

23